@{
    ViewBag.Title = "DatSach";
    Layout = "~/Views/_Layout.cshtml";
}

<div id="contenttop"></div>
<div id="sidebar">

    <h2>Categories</h2>
    <ul>
        <li> @Html.ActionLink("Thống kê độc giả", "Index", "Home")</li>
        <li> @Html.ActionLink("Danh Sách Sách Đặt", "DanhSachSachDat", "Home")</li>
        <li> @Html.ActionLink("Chỉnh sửa đặt mượn", "ChinhSuaDatMuon", "Home") </li>
        <li> @Html.ActionLink("Gia hạn mượn", "GiaHanMuonSach", "Home") </li>
        <li> @Html.ActionLink("Tìm kiếm sách", "TimKiemSach", "Home") </li>
    </ul>

</div>
<div id="left">
    
       
        <table class="table table-bordered" style="margin-top:45px">
            <tr>
                <th> STT </th>
                <th> Tên Sách </th>
                <th> Tác Giả </th>
                <th> Loại </th>
                <th> Hủy </th>
                <th> Ngày mượn </th>
            </tr>
            <tr>
                <td> 1 </td>
                <td> Cơ Sở Dữ Liệu </td>
                <td>  Trần Đan Thư </td>
                <td> Tham khảo </td>
                <td> <a href=""> Chi tiết</a></td>
                <td> 11/10/2014 </td>
            </tr>
            <tr>
                <td> 1 </td>
                <td> Cơ Sở Dữ Liệu </td>
                <td>  Trần Đan Thư </td>
                <td> Tham Khảo </td>
                <td> <a href=""> chi tiết </a></td>
                <td>11/10/2014
                </td>
            </tr>
            </table>
    <div class="form-group" style="text-align:center">
        <button type="button" class="btn btn-danger"> Chỉnh sửa </button>
        <button type="button" class="btn btn-success"> Thoát </button>

    </div>
</div>
<div class="clear">
</div>