@model QuanLiThuVien.Models.proc_layTTMuonSach_Result
@{
    ViewBag.Title = "TraSach";
    Layout = "~/Views/_Layout.cshtml";
}
<link rel="stylesheet" href="@Url.Content("~/Content/css/table_normalize.css")">
<link rel="stylesheet" href="@Url.Content("~/Content/css/table_style.css")">

<div class="middle-content">
    <h1 class="text-center">Quản lý trả sách</h1>
    <h2 class="text-right" style="margin-right: 200px">Ngày trả sách: <span id="ngaytrasach">
        <script>
            $temp = new Date().toDateString();
            document.write($temp) ;
       </script></span></h2>
    @using (Html.BeginForm("layThongTinMuonSach", "Employee", FormMethod.Post))
    {
            <div style="max-width: 500px; margin:auto">
                <div class="row">
                    <div class="col-md-9 form-group">
                        <div class="input-group">
                            <div class="input-group-addon">Mã đọc giả</div>
                            <input type="text" class="form-control" placeholder="Mã đọc giả" value="0944873" name="madocgia">
                        </div>
                    </div>
		        </div>
                <div class="row" style="margin-top:10px">
                    <div class="col-md-9 form-group">
                        <div class="input-group">
                            <div class="input-group-addon">Mã sách</div>
                            <input type="text" class="form-control" placeholder="Mã sách" value="1" name="masach">
                        </div>
                    </div>
                    <div class="col-md-3 ticket-item">
                        <a class="ticket-btn" style="margin:0px; padding:8px" id="XemTraSach">Xem</a>
                        @*<a><input type="submit" Value="Xem" class="ticket-btn" style="margin:0px; padding:8px" /></a>*@
                    </div>
                </div>              	
            </div>
    }
    <table class="responstable">
        <tr>
        <th width="6%" style="text-align:center">STT</th>
        <th width="41%" style="text-align:center">Tên sách</th>
        <th width="16%" style="text-align:center">Ngày mượn</th>
        <th width="16%" style="text-align:center">Hạn trả</th>
        <th width="14%" style="text-align:center">Tiền quá hạn</th>
		<th width="11%" style="text-align:center">Sách rách/mất</th>
        </tr>
        @if (Model != null)
        { 
            <tr>
            <td>@Html.DisplayFor(modelItem => Model.ID)</td>
            <td>@Html.DisplayFor(modelItem => Model.TenSach)</td>
            <td>@Html.DisplayFor(modelItem => Model.NgayMuon)</td>
            <td>@Html.DisplayFor(modelItem => Model.HanTra)</td>
            <td>@Html.DisplayFor(modelItem => Model.TienPhat)</td>
            <td><input type="checkbox" id="check_sachmat_rach" style="margin-left:30%"/></td>
            </tr>
            @*<script>
                $(document).ready(function () {
                    $("#check_sachmat_rach").checked(function () {
                        @Model.TienPhat += 50000;
                    });
                });
            </script>*@
        }
        else
        {<tr><td colspan="5">Không có dữ liệu</td></tr>}
        
    </table>
    <div class="row">
        <div class="col-md-6 col-md-push-8">
            <label style="width: 20%">Tổng phí phạt: </label>
            <input type="text" readonly="readonly" id="tongphiphat" value="@Html.DisplayFor(modelItem => Model.TienPhat)"/>
            <input hidden id="lido" value=""/>
        </div>
    </div>
    <div class="row ticket-item" style="margin-top: 20px">
        <div class="col-md-2 col-md-push-4">
            @if (Model != null)
            {
                int _ID = Model.ID;
                var _phat = Model.TienPhat;
                @Html.ActionLink("Trả sách", "thuchienTraSach", new { ID = _ID, phat = _phat }, new { @class = "ticket-btn" });
            }
            else
            { <a class="ticket-btn" href="#" id="trasach">Trả sách</a> }
        </div>
        <div class="col-md-2 col-md-push-5">
			<a class="ticket-btn" href="#">Thoát</a>
        </div>
    </div>
</div>
@section script{
    <script>
        $(document).ready(function () {
            $("#XemTraSach").click(function () {
                $('form').submit();
            });
            
        });
       
    </script>
}
            