@model IEnumerable<QuanLiThuVien.Models.LOPTAPHUAN>

@{
    ViewBag.Title = "ViewListTraining";
    Layout = "~/Views/_Layout.cshtml";
}


<div class="container">
    <div class="row" style="height:30px;"></div>
    <div class="row"></div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1 style="font-size:25px" padding-bottom="30px;"> CÁC LỚP TẬP HUẤN CÓ THỂ ĐĂNG KÍ </h1>
        </div>
    </div>
    <div class="row">
        <div>

        </div>
         
    </div>
    <div class="row">
        <div class="col-md-1"> </div>
        <div class="col-md-8">
            <div class="table">
                <table class="table table-condensed">
                    <tr>
                        <td>
                            <b> STT </b>
                        </td>
                        <th>
                            Ngày
                        </th>
                        <th>
                            Phòng
                        </th>
                        <th>
                            Thời gian
                        </th>
                        <th>
                            Đăng kí
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ngay)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Phong)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ThoiGian)
                            </td>
                            <td>
                                @Html.CheckBoxFor(modelItem => item.isSelected)
                                @*@@Html.ActionLink("Xem chi tiết", "ClassDetail", new { id = item.ID })*@
                            </td>
                        </tr>
                    }

                </table>

            </div>
        </div>
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-3">
                <input class="btn btn-primary" type="submit" value="Đăng kí" />
            </div>
        </div>
    </div>
</div>