@model IEnumerable<QuanLiThuVien.Models.THONGTINMUONTRA>

@{
    ViewBag.Title = "layDsMuonTra";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>Danh sách mượn trả</h2>

@using (Html.BeginForm("layDsMuonTra", "docgia", FormMethod.Get)) { 
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row">
    <div class="col-md-1">
        @Html.RadioButton("radTuyChon", "Taca", true)<label> Xem tất cả</label>
    </div>
    <div class="col-md-2">
        @Html.RadioButton("radTuyChon", "SachChuaTra")<label> Sách chưa trả </label>
    </div>
    <div class="col-md-2">
    @Html.RadioButton("radTuyChon", "SachQuaHan")<label> Sách quá hạn</label>
    </div>
    <div class="col-md-1">
        <input type="submit" value="Xem" />
    </div>
</div>

}

<table class="responstable">
    <tr>
    <th>STT</th>
    <th data-th="Driver details"><span>Mã sách</span></th>
    <th>Tên sách</th>
    <th>Ngày mượn</th>
    <th>Hạn trả</th>
    <th>Gia hạn</th>
    <th>Tùy chọn</th>
    </tr>
   
@if (Model == null)
{ 
    <tr>
    <td>1</td>
    <td>Stan</td>
    <td>Foo</td>
    <td>01/01/1994</td>
    <td>Son</td>
    <td>Son</td>
    </tr>
}
else
{
    foreach (var item in Model) {
    //for (int i = 0; i < Model.) {
        <tr>
            <td>@*STT*@</td>
            <td>
                @Html.DisplayFor(modelItem => item.IDSach)
            </td>
            <td>@*Tên sách*@</td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayMuon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HanTra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaHan)
            </td>
            <td>
                @Html.ActionLink("Xem chi tiết", "")
            </td>
        </tr>
    }
}
</table>
